*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    font-family: sans-serif;
    color:hsl(229, 23%, 23%);
}
.main{
    background-color: hsl(185, 75%, 39%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(images/bg-pattern-bottom.svg), url(images/bg-pattern-top.svg);
    background-repeat: no-repeat,no-repeat;
    background-position: left 50vw top 50vh,right 50vw bottom 50vh; 
}

.container{
    background-color:white ;
    text-align: center;
    max-width: 350px;
    border-radius: 15px;
    overflow: hidden;
}
.upper-container{
    background-image: url(images/bg-pattern-card.svg);
    height:150px;
    width: 350px;
    background-size: cover;
}
.img-div{
    width:100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin:-50px auto;
    border: 5px solid white;
}
.img-div img{
    display: block;
    height: auto;
    width:100%;
}
.card-text{
    margin-top: 70px;
}
.card-text h2{
    font-size: 1.5rem;
    font-weight: 700;
}
.age{
    margin-left: 5px;
}
.card-text .age,.city{
    color:hsl(0, 0%, 59%);
    font-weight: 400;
}
.city{
    margin-top: 15px;
    letter-spacing: 2px;
    font-size: 14px;
}
.activity{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    margin-top: 50px ;
    border-top: 1px solid black;
    padding:20px 40px;
}
.activity .act{
    display: block;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
    letter-spacing: 2px;
    margin-top: 3px;
    font-weight: 300;
}